In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('gamau_nikah.csv')
data2 = pd.read_csv('nikah_mahal_takut.csv')
data3 = pd.read_csv('takut-nikah.csv')
data4 = pd.read_csv('trauma_menikah.csv')
data5 = pd.read_csv('trauma_nikah.csv')

In [3]:
df = pd.concat([data1, data2, data3, data4, data5], ignore_index=True)
df.head()

,Name,Handle,Timestamp,Verified,Content,Comments,Retweets,Likes,Analytics,Tags,Mentions,Emojis,Profile Image,Tweet Link,Tweet ID
0,NaN,@naruhach,2025-07-13T17:48:35.000Z,False,"Blm resmi jd mantan, tapi udah ngasih trauma t...",0,0,0,0,[],[],[],https://pbs.twimg.com/profile_images/192804402...,https://x.com/naruhach/status/1944453921369645182,tweet_id:1944453921369645182
1,sukma sayang jeno juyeon,@maadevvi,2025-07-13T17:36:18.000Z,False,papahku ditinggal meninggal gamau nikah lagi,0,0,0,4,[],[],['\\U0001f62d'],https://pbs.twimg.com/profile_images/192888315...,https://x.com/maadevvi/status/1944450827969790221,tweet_id:1944450827969790221
2,sukma sayang jeno juyeon,@maadevvi,2025-07-13T17:35:07.000Z,False,"kecuali bapakku, dia kok disuruh nikah lagi ga...",0,0,0,5,[],[],['\\U0001f62d'],https://pbs.twimg.com/profile_images/192888315...,https://x.com/maadevvi/status/1944450532472484304,tweet_id:1944450532472484304
3,kucing hitam,@bluecatfav,2025-07-13T17:25:07.000Z,False,"Atasan gw: ""dah cepet nikah gih, biar ga stres...",0,0,0,23,[],[],['\\U0001f926\\U0001f3fb\\u200d\\u2642\\ufe0f'],https://pbs.twimg.com/profile_images/151025262...,https://x.com/bluecatfav/status/19444480154793...,tweet_id:1944448015479308751
4,ruby,@rainwallower,2025-07-13T17:12:51.000Z,False,gamau blajar maunya nikah aja ya gigi,0,0,0,2,[],[],[],https://pbs.twimg.com/profile_images/194320465...,https://x.com/rainwallower/status/194444492910...,tweet_id:1944444929108763048

In [4]:
df =  df[['Content']]
df.head()

                                             Content
0  Blm resmi jd mantan, tapi udah ngasih trauma t...
1       papahku ditinggal meninggal gamau nikah lagi
2  kecuali bapakku, dia kok disuruh nikah lagi ga...
3  Atasan gw: "dah cepet nikah gih, biar ga stres...
4              gamau blajar maunya nikah aja ya gigi

In [5]:
len(df)

650

In [6]:
df.isnull().sum()

Content    0
dtype: int64

In [7]:
# Mengubah ke lowercase dengan handling null values
df['Content'] = df['Content'].astype(str).str.lower()
df.head()

                                             Content
0  blm resmi jd mantan, tapi udah ngasih trauma t...
1       papahku ditinggal meninggal gamau nikah lagi
2  kecuali bapakku, dia kok disuruh nikah lagi ga...
3  atasan gw: "dah cepet nikah gih, biar ga stres...
4              gamau blajar maunya nikah aja ya gigi

In [8]:
import re

def clean_text(text):
    text = text.replace('\n', ' ').replace('\r', ' ').replace('\t', ' ') # hapus newline dan tab
    # Hapus link dulu!
    text = re.sub(r'http\S+|www\.\S+|[a-zA-Z0-9.-]+\.(com|id|org|net|co|ac|go|edu|my|ly|me|co.id|web.id|sch.id|xyz|info|io|ai|gov|biz|tv|cc|us|uk|sg|jp|kr|cn|ru|au|fr|de|es|it|nl|se|no|fi|dk|pl|cz|tr|in|za|br|mx|ca|ar|ch|at|be|pt|gr|ro|ua|by|lt|lv|ee|sk|hu|bg|rs|hr|si|ba|mk|al|ge|am|az|kg|kz|tj|tm|uz|vn|th|ph|my|sg|hk|tw|mo|pk|bd|lk|np|mv|ir|iq|il|sa|ae|qa|kw|om|bh|ye|jo|lb|sy|ps|af|mn|kh|la|mm|bt|tl|bn|id|my|sg|th|vn|ph|kr|jp|cn|tw|hk|mo|mn|ru|kz|uz|kg|tj|tm|az|am|ge|tr|cy|gr|bg|ro|md|ua|by|pl|lt|lv|ee|fi|se|no|dk|is|ie|uk|nl|be|lu|fr|de|ch|at|cz|sk|hu|si|hr|ba|rs|me|al|mk|it|sm|va|mt|es|pt|ad|mc|li|gl|fo|ax|sj|eu|int|arpa|mil|edu|gov|biz|info|name|pro|aero|coop|museum|asia|cat|jobs|mobi|tel|travel|xxx|id|co.id|web.id|sch.id|or.id|ac.id|go.id|mil.id|my.id|biz.id|desa.id|ponpes.id|sch.id|web.id|id|co|or|ac|sch|go|mil|my|biz|desa|ponpes|web|sch|id)\b', '', text)
    # Hapus angka dan bullet (misal: 1. 2. 3.)
    text = re.sub(r'\d+\.', '', text)
    # Hapus karakter non-alfabet (kecuali spasi)
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Hapus spasi berlebih
    text = re.sub(r'\s+', ' ', text)
    return text.strip().lower()

df['Content'] = df['Content'].astype(str).apply(clean_text)

In [10]:
df = df.rename(columns={'Content': 'text'})

In [11]:
# Menyimpan ke file CSV
df.to_csv('combined_data.csv', index=False)