In [1]:
import pandas as pd
import numpy as np

In [2]:
df_fb_e100 = pd.read_csv('../../raw/fb/fb_e100_abolisi.csv')
df_fb_kompas = pd.read_csv('../../raw/fb/fb_kompas_abolisi.csv')
df_ig_creativox = pd.read_csv('../../raw/ig/ig_creativox_abolisi.csv', sep=';', quotechar='"')
df_ig_folkative = pd.read_csv('../../raw/ig/ig_folkative_abolisi.csv', sep=';', quotechar='"')
df_ig_narasi = pd.read_csv('../../raw/ig/ig_narasi_abolisi.csv', sep=';', quotechar='"')
df_tiktok_andromeda = pd.read_csv('../../raw/tiktok/tiktok_andromeda_abolisi.csv')
df_tiktok_inilahcom = pd.read_csv('../../raw/tiktok/tiktok_inilahcom_abolisi.csv')
df_tiktok_metrotv = pd.read_csv('../../raw/tiktok/tiktok_metrotv_abolisi.csv')

## fb_e100

In [4]:
df_fb_e100.head(3)

,Name,ProfileUrl,Avatar,Comment,Date
0,Widyo Prassojo,https://www.facebook.com/dewiyismywife,https://scontent.fjog5-1.fna.fbcdn.net/v/t39.3...,Kusus untuk kasus Tom Lembong yang dikasih Abo...,2025-07-31 22:53:03
1,DejaVu Garage,https://www.facebook.com/dejavu.garage.2025,https://scontent.fjog5-1.fna.fbcdn.net/v/t39.3...,"Kalo tom lebong menerima abolisi ini, berarti ...",2025-07-31 22:34:19
2,Raden Joko,https://www.facebook.com/allesandro.piero,https://scontent.fjog5-1.fna.fbcdn.net/v/t1.64...,Menjadi bukti bahwa kebijakan hukum di negara ...,2025-07-31 22:38:45

In [6]:
# df_anies = df_anies.iloc[1:].reset_index(drop=True)
# df_anies.head(3)

In [7]:
df_fb_e100 = df_fb_e100[['Comment']]
#rename columns Comment to text
df_fb_e100.rename(columns={'Comment': 'text'}, inplace=True)
df_fb_e100.head(3)

                                                text
0  Kusus untuk kasus Tom Lembong yang dikasih Abo...
1  Kalo tom lebong menerima abolisi ini, berarti ...
2  Menjadi bukti bahwa kebijakan hukum di negara ...

## fb_kompas

In [ ]:
df_fb_kompas = df_fb_kompas.iloc[1:].reset_index(drop=True)
df_fb_kompas = df_fb_kompas[['Comment']]
df_fb_kompas.rename(columns={'Comment': 'text'}, inplace=True)
df_fb_kompas.head(3)

                                                text
0  Untuk menutupi kesalahan si pemesan kasus maka...
1  Tom Lembong ngak perlu di ampuni karena dia ti...
2  Pak Presiden adalah negarawan... beliau tentu ...

## ig_creativox

In [10]:
df_ig_creativox.head()

,comment_id,created_at,profile_pic_url,text,user_id,username
0,18516632320053283,1753981976,https://instagram.fjog5-1.fna.fbcdn.net/v/t51....,😂,47196609468,ddksr1
1,18086492935747440,1753982005,https://instagram.fjog5-1.fna.fbcdn.net/v/t51....,"Di bebasin salah, ga dibebasin salah.",1946003270,diicky_mnoer
2,17858370987465619,1753982015,https://instagram.fjog5-1.fna.fbcdn.net/v/t51....,Abis itu ntar dbilang gatau diri gatau terimak...,878351227,litiar
3,18152658658379940,1753982019,https://instagram.fjog5-1.fna.fbcdn.net/v/t51....,@edoartjoel edo pintar sedikit kek,12281293249,ficcryyyy
4,17929468019965984,1753982054,https://instagram.fjog5-1.fna.fbcdn.net/v/t51....,yaudah terus maunya gimana? tetep lanjut sidang?,38589087214,sccaramouuche

In [11]:
df_ig_creativox = df_ig_creativox[['text']]
df_ig_creativox.head(3)

                                                text
0                                                  😂
1              Di bebasin salah, ga dibebasin salah.
2  Abis itu ntar dbilang gatau diri gatau terimak...

## ig_folkative

In [12]:
df_ig_folkative = df_ig_folkative[['text']]
df_ig_folkative.head()

                                       text
0                 Contoh SDM rendah ya anda
1         Pinter bgt pak cari moment wkwkwk
2  Fix kasus lembong n hasto itu politisasi
3                     Ya emg ga salah wkwkw
4             nanti jadi politik balas budi

## ig_narasi

In [13]:
df_ig_narasi = df_ig_narasi[['text']]
df_ig_narasi.head(3)

                                                text
0  Sebenarnya tuh mau amnesti hasto doang, tapi y...
1  Udah berani ngelawan gue lu ya.", kata Mr. You...
2                                                  😂

## tiktok_andromed

In [14]:
df_tiktok_andromeda.head(3)

,videoWebUrl,submittedVideoUrl,input,cid,createTime,createTimeISO,text,diggCount,likedByAuthor,pinnedByAuthor,repliesToId,replyCommentTotal,uid,uniqueId,avatarThumbnail,mentions,detailedMentions
0,https://www.tiktok.com/@andromeda_mercury/vide...,https://www.tiktok.com/@andromeda_mercury/vide...,https://www.tiktok.com/@andromeda_mercury/vide...,7533292603304592146,1753981372,2025-07-31T17:02:52.000Z,harga diri kejaksaan dan pengadilan dipermaluk...,108,False,False,NaN,6.0,6825555957264827393,ve7786,https://p16-common-sign-sg.tiktokcdn-us.com/to...,[],[]
1,https://www.tiktok.com/@andromeda_mercury/vide...,https://www.tiktok.com/@andromeda_mercury/vide...,https://www.tiktok.com/@andromeda_mercury/vide...,7533269482887529234,1753975990,2025-07-31T15:33:10.000Z,puncak ketidak keadilan terlihat di kasus ini😭...,157,False,False,NaN,1.0,7401746042770932742,boss.feryy,https://p16-common-sign-sg.tiktokcdn-us.com/to...,[],[]
2,https://www.tiktok.com/@andromeda_mercury/vide...,https://www.tiktok.com/@andromeda_mercury/vide...,https://www.tiktok.com/@andromeda_mercury/vide...,7533285796661625607,1753979787,2025-07-31T16:36:27.000Z,sudah di bilang kalo pemimpin udah bertindak b...,12,False,False,NaN,1.0,7063825827360211969,satriaaa299,https://p16-common-sign-va.tiktokcdn-us.com/mu...,[],[]

In [15]:
df_tiktok_andromeda = df_tiktok_andromeda[['text']]
df_tiktok_andromeda.head(3)

                                                text
0  harga diri kejaksaan dan pengadilan dipermaluk...
1  puncak ketidak keadilan terlihat di kasus ini😭...
2  sudah di bilang kalo pemimpin udah bertindak b...

## inilahcom

In [16]:
df_tiktok_inilahcom = df_tiktok_inilahcom[['text']]
df_tiktok_inilahcom.head(3)

                                                text
0                   Pov:Sisa Saldo 300K Jadi 24Jt 🥰😜
1  ini baru negarawan yg dikenang sepanjang hayat...
2           Terlalu dengerin rakyat itu juga ga baik

## tiktok metrotv

In [17]:
df_tiktok_metrotv = df_tiktok_metrotv[['text']]
df_tiktok_metrotv.head(3)

                               text
0  doyan banget main pahlawan2 an🤣🤭
1       Sang pahlawan mulai muncul.
2         raja solo sudah pensiun 😂

# x_bosPurwa

In [30]:
df_x_bosPurwa = pd.read_csv('../../raw/x/x_abolisi_bosPurwa.csv')
df_x_bosPurwa.head(3)

,Name,Handle,Timestamp,Verified,Content,Comments,Retweets,Likes,Analytics,Tags,Mentions,Emojis,Profile Image,Tweet Link,Tweet ID
0,King Purwa,@BosPurwa,2025-07-31T15:37:59.000Z,True,NaN,0,0,0,2.7K,[],[],[],https://pbs.twimg.com/profile_images/157281695...,https://x.com/BosPurwa/status/1950944037160317073,tweet_id:1950944037160317073
1,AHMAD KAMIL MALIK,@malix01,2025-07-31T15:52:59.000Z,False,Lah sama aja dengan setuju dengan putusan haki...,0,0,0,47,[],[],[],https://pbs.twimg.com/profile_images/170510881...,https://x.com/malix01/status/1950947810955972977,tweet_id:1950947810955972977
2,seftian,@sefrtian,2025-07-31T14:54:01.000Z,False,NaN,0,0,0,6K,[],[],[],https://pbs.twimg.com/profile_images/189144461...,https://x.com/sefrtian/status/1950932971898191896,tweet_id:1950932971898191896

In [31]:
df_x_bosPurwa = df_x_bosPurwa[['Content']]
df_x_bosPurwa = df_x_bosPurwa.rename(columns={'Content': 'text'})

In [32]:
df_x_bosPurwa.head()

                                                text
0                                                NaN
1  Lah sama aja dengan setuju dengan putusan haki...
2                                                NaN
3  Matahin kaki orang, habis itu dikasih tongkat ...
4                                                NaN

# x_kumparan

In [33]:
df_x_kumparan = pd.read_csv('../../raw/x/x_abolisi_kumparan.csv')
df_x_kumparan.head(3)

,Name,Handle,Timestamp,Verified,Content,Comments,Retweets,Likes,Analytics,Tags,Mentions,Emojis,Profile Image,Tweet Link,Tweet ID
0,Dika Santosa,@dikasntsa,2025-07-31T16:21:04.000Z,False,Prabowo di mata pembenci:\n1. Jika Prabowo ban...,0,0,0,196,[],[],[],https://pbs.twimg.com/profile_images/194065229...,https://x.com/dikasntsa/status/195095487697410...,tweet_id:1950954876974100786
1,FreePalestine,@wahyu_djanti88,2025-07-31T15:14:17.000Z,False,Knp ga dr awal telp & ??? Bukan inteevensi.....,0,0,0,328,[],"['@KejaksaanRI', '@kemenkum']",[],https://pbs.twimg.com/profile_images/179583707...,https://x.com/wahyu_djanti88/status/1950938069...,tweet_id:1950938069278118067
2,Tukang Edit,@4wijaya_,2025-07-31T14:42:01.000Z,False,Akan gua anggep ini bentuk perlawanan thdp mul...,0,0,0,8.3K,[],[],[],https://pbs.twimg.com/profile_images/186034991...,https://x.com/4wijaya_/status/1950929950435119571,tweet_id:1950929950435119571

In [34]:
df_x_kumparan = df_x_kumparan[['Content']]
df_x_kumparan = df_x_kumparan.rename(columns={'Content': 'text'})
df_x_kumparan.head(3)

                                                text
0  Prabowo di mata pembenci:\n1. Jika Prabowo ban...
1  Knp ga dr awal telp  &  ??? Bukan inteevensi.....
2  Akan gua anggep ini bentuk perlawanan thdp mul...

# Concat all

In [35]:
df = pd.concat([df_fb_e100,df_fb_kompas, df_ig_creativox, df_ig_folkative, df_ig_narasi, df_tiktok_andromeda, df_tiktok_inilahcom,df_tiktok_metrotv, df_x_bosPurwa, df_x_kumparan], ignore_index=True)
# melihat banyak baris 
print(f'Jumlah baris df: {df.shape[0]}')

Jumlah baris df: 4060

In [36]:
df.head()

                                                text
0  Kusus untuk kasus Tom Lembong yang dikasih Abo...
1  Kalo tom lebong menerima abolisi ini, berarti ...
2  Menjadi bukti bahwa kebijakan hukum di negara ...
3  Karuan bebasne AE pak..kok pegel2 sidang seng ...
4  RUWET KAREPE DEWE KAKEAN DRAMA KOYOK JOKOWI, S...

In [37]:
df = df.dropna(subset=['text'])

In [38]:
df.shape[0]

3962

In [39]:
import os
os.makedirs('../../processed', exist_ok=True)
df.to_csv('../../processed/concat_data.csv', index=False)