In [1]:
import pandas as pd
import numpy as np

In [3]:
df_anies = pd.read_csv('../../raw/anies.csv')
df_cnbc = pd.read_csv('../../raw/cnbc.csv')
df_ferry = pd.read_csv('../../raw/ferry.csv', sep=';', quotechar='"')
df_hariankompas = pd.read_csv('../../raw/hariankompas.csv', sep=';', quotechar='"')
df_sindo = pd.read_csv('../../raw/sindo.csv')
df_tretan = pd.read_csv('../../raw/tretan.csv', sep=';', quotechar='"')
df_tribunsolo = pd.read_csv('../../raw/tribunsolo.csv')
df_x_tomlembong = pd.read_csv('../../raw/tom_lembong.csv')

## anies

In [5]:
df_anies.head(3)

,Name,ProfileUrl,Avatar,Comment,Date
0,NOTE: This export contains only the first 500 ...,NaN,NaN,NaN,NaN
1,Tasya Fuad,https://www.facebook.com/ramislam.fuad,https://scontent.fjog5-1.fna.fbcdn.net/v/t39.3...,Bukan pak Tom yang mencari kebenaran tapi kebe...,2025-07-18 20:09:10
2,Marnotua Hasibuan,https://www.facebook.com/marnotua.hasibuan.2025,https://scontent.fjog5-1.fna.fbcdn.net/v/t39.3...,Di duga hukuman 4.5 tahun penjara Terhadap bap...,2025-07-18 20:12:20

In [6]:
df_anies = df_anies.iloc[1:].reset_index(drop=True)
df_anies.head(3)

,Name,ProfileUrl,Avatar,Comment,Date
0,Tasya Fuad,https://www.facebook.com/ramislam.fuad,https://scontent.fjog5-1.fna.fbcdn.net/v/t39.3...,Bukan pak Tom yang mencari kebenaran tapi kebe...,2025-07-18 20:09:10
1,Marnotua Hasibuan,https://www.facebook.com/marnotua.hasibuan.2025,https://scontent.fjog5-1.fna.fbcdn.net/v/t39.3...,Di duga hukuman 4.5 tahun penjara Terhadap bap...,2025-07-18 20:12:20
2,Zynnx Kroco,https://www.facebook.com/zynnxkroco,https://scontent.fjog5-1.fna.fbcdn.net/v/t39.3...,"ingat Saddam Hussein pak Anis, beliau difitnah...",2025-07-18 21:56:15

In [7]:
df_anies = df_anies[['Comment']]
#rename columns Comment to text
df_anies.rename(columns={'Comment': 'text'}, inplace=True)
df_anies.head(3)

                                                text
0  Bukan pak Tom yang mencari kebenaran tapi kebe...
1  Di duga hukuman 4.5 tahun penjara Terhadap bap...
2  ingat Saddam Hussein pak Anis, beliau difitnah...

## cnbc

In [10]:
df_cnbc = df_cnbc.iloc[1:].reset_index(drop=True)
df_cnbc = df_cnbc[['Comment']]
df_cnbc.rename(columns={'Comment': 'text'}, inplace=True)
df_cnbc.head(3)

                                                text
0  Tom Lembong hanya menjalankan perintah dari at...
1  Yang benar tetap benar. You are Loved Tom.. Al...
2               Yg nyuruh malah gak pernah dipanggil

## sindo

In [11]:
df_sindo = df_sindo.iloc[1:].reset_index(drop=True)
df_sindo = df_sindo[['Comment']]
df_sindo.rename(columns={'Comment': 'text'}, inplace=True)
df_sindo.head(3)

                                                text
0               yg nyuruh tu coba berani gk di adili
1  Periksa rekening dan hartanya jaksa penuntut d...
2  Tidak ada uang yang dia korupsi kalaupun tuduh...

## tribun solo

In [12]:
df_tribunsolo = df_tribunsolo.iloc[1:].reset_index(drop=True)
df_tribunsolo = df_tribunsolo[['Comment']]
df_tribunsolo.rename(columns={'Comment': 'text'}, inplace=True)
df_tribunsolo.head(3)

                                                text
0  Institusi penegak hukum di negara ini benar2 s...
1  Tom lembong sedang menghadap ketua genk hakim ...
2                     Kapan Indonesia saya ini jujur

## ferry

In [15]:
df_ferry = df_ferry[['text']]
df_ferry.head(3)

                                                text
0  @figo_handoko Secara yuridis (hukum formal):\n...
1  Ayo rakyat bersatu di dunia nyata, mumpung ada...
2                            @ikhwanulhakim__ apasih

## tretan

In [16]:
df_tretan = df_tretan[['text']]
df_tretan.head(3)

                                            text
0                              Negeri Tai Anjing
1  Yuk rakyat 🇮🇩 kencengin shalawat asyghil.. 😢😢
2                     Kami bersama pak Tom...🔥🔥🔥

## harian kompas

In [19]:
df_hariankompas = df_hariankompas[['text']]
df_hariankompas.head(3)

                                                text
0  Rakyat semakin tau betapa caur nya hukum dineg...
1  Kita belajar banyak tentang rusaknya hukum ind...
2                                            Paaak 😢

## x tom lembong

In [20]:
df_x_tomlembong.head(3)

,Name,Handle,Timestamp,Verified,Content,Comments,Retweets,Likes,Analytics,Tags,Mentions,Emojis,Profile Image,Tweet Link,Tweet ID
0,Grok,@grok,2025-07-20T18:33:43.000Z,True,"Dari tweetmu yg sering interaksi sosial, nanya...",0,0,0,10,[],[],['\\U0001f60a'],https://pbs.twimg.com/profile_images/189321911...,https://x.com/grok/status/1947001995023589635,tweet_id:1947001995023589635
1,Driver ngalong,@ImoetSakha,2025-07-20T18:32:17.000Z,False,Tom lembong nasibmu kini,0,0,0,4,[],[],[],https://pbs.twimg.com/profile_images/192519243...,https://x.com/ImoetSakha/status/19470016314025...,tweet_id:1947001631402532959
2,noneofyourbussiness,@yourcl1ngyleo,2025-07-20T18:29:23.000Z,False,babi sensitif bgt gw hal2 kecil aj gw emosiona...,0,0,0,9,[],[],[],https://pbs.twimg.com/profile_images/187281663...,https://x.com/yourcl1ngyleo/status/19470009024...,tweet_id:1947000902428381361

In [23]:
df_x_tomlembong = df_x_tomlembong[df_x_tomlembong['Handle'] != '@grok'].reset_index(drop=True)
# melihat banyak baris
print(f'Jumlah baris df_x_tomlembong: {df_x_tomlembong.shape[0]}')

Jumlah baris df_x_tomlembong: 901

In [24]:
df_x_tomlembong = df_x_tomlembong[['Content']]
df_x_tomlembong.rename(columns={'Content': 'text'}, inplace=True)
df_x_tomlembong.head(3)

                                                text
0                           Tom lembong nasibmu kini
1  babi sensitif bgt gw hal2 kecil aj gw emosiona...
2  Menurut Dr. Edi, proses panjang kasus Tom Lemb...

# Concat all

In [25]:
df = pd.concat([df_anies, df_cnbc, df_ferry, df_hariankompas, df_sindo, df_tretan, df_tribunsolo, df_x_tomlembong], ignore_index=True)
# melihat banyak baris 
print(f'Jumlah baris df: {df.shape[0]}')

Jumlah baris df: 7249

In [26]:
df.head()

                                                text
0  Bukan pak Tom yang mencari kebenaran tapi kebe...
1  Di duga hukuman 4.5 tahun penjara Terhadap bap...
2  ingat Saddam Hussein pak Anis, beliau difitnah...
3  Innalilahi wa innailaihi rojiun. Turut berduka...
4  Yang menzalimi pak Tom segera dapat azab yang ...

In [27]:
import os
os.makedirs('../../processed', exist_ok=True)
df.to_csv('../../processed/concat_data.csv', index=False)